body {
	background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
	radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
	radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #FF6260;
	background-size: 110px 200px;
	background-repeat: repeat-x;
	
}
a {
  text-decoration:  none; 
  font-weight:      600; 
}
a:hover {
  text-decoration:  underline;
}
a img {
  border:           0;
}
h2 {
  font-size:        150%;
}

form{
  border-style:dashed;
  border-color::#ffae01;
  margin-top:10%;
  margin-bottom:35%;
  right:35%;
  left:30%;
  padding:auto;
}

/**调整按钮**/
@media(max-width:1024px){
	.the_button{
		margin-left:-45%/**同样方位的外边距，父级为正，子级为负的数值可以实现相对整齐排列**/
	}
}

.the_button{
	margin-left:-68%
}

/**父级容器**/
.contain{
  margin-top:10em;
  margin-left:40%;
  padding:auto;
  max-width:100%;
}

table {
  margin:auto;
  caption-side:     bottom;
  border-collapse:  collapse; 
      
}
td, th {
  padding:          5px;
  text-align:       left;
}
.copyright {
  font-size:        75%;
  font-style:       italic;
}
.slogan {
  font-size:        75%;
  font-style:       italic;
}
.confirmentry {
  font-weight:      600; 
}

/*** Tables ***/

table {
font-size:          1em;
background-color:   #fafcff;
border:             1px solid #909090;
color:              #2a2a2a;
padding:            5px 5px 2px;
border-collapse:    collapse;
}

td, th {
border:             thin dotted gray;
}

/*** Inputs ***/
input[type=text] {
  font-size:        115%;
  width:            30em;
}
input[type=submit] {
  font-size:        125%;
}
select {
  font-size:        125%;
}